#include "config_remote.h"
#include "config.h"

void configure_remote(Configuration* config, EntityStore* store, Screen* screen) {
    (void)store;
    (void)screen;

    // Configure wifi
    config->wifi_ssid = "MyWifiSSID";
    config->wifi_password = "my-wifi-password1234!";

    // Configure home assistant
    // If you're using https, use wss://, otherwise use ws://
    config->home_assistant_url = "ws://192.168.0.1/api/websocket";
    config->home_assistant_token = "ey...";
    config->root_ca = ISRG_ROOT_X1; // You probably don't need to update this

    // Standby screen entities
    config->weather_entity_id = "";
    config->energy_solar_entity_id = "";
    config->energy_grid_entity_id = "";
    config->energy_grid_export_entity_id = "";
    config->energy_battery_usage_entity_id = "";
    config->energy_battery_charge_entity_id = "";
    config->energy_battery_soc_entity_id = "";
    config->energy_house_entity_id = "";
}
